$montserratFontFamily: 'Montserrat', sans-serif;
$robotoFontFamily: "Roboto", sans-serif;
$georgiaFontFamily: Georgia, Times, "Times New Roman", serif;
$color: rgba(0,0,0,.08);
$color2: rgba(0,0,0,.02);
$cnBlue: #003594;
$cnRed: #c31212;
$white: #ffffff;
$black: #0a0a0a;
$grey: #D8D8D8;
$green: rgba(0,102,51, 1);
$footerHdr: #878792;
$borderGrey: #F2F2F2;
$transparency100: rgba(0, 53, 148, 1);
$transparency75: rgba(0, 53, 148, 0.75);
$colorSelect:#3694d7;
$timing:.3s;
$redAlert: #F31431;
$caption: #767676;
$bgColor: #fafafa;

@mixin caption-text() {
  max-width: 100%;
  font-family: $robotoFontFamily;
  font-size: 0.8rem;
  font-weight: 400;
  color: #8c8c8c;
  padding-top: 10px;
  letter-spacing: 0;
  line-height: 1.55;
}

.election-2024-logo {
  margin-left: 25px;
  padding-left: 25px;
  border-left: 1px solid #f2f2f2;
}

hr {
  margin: 1rem auto;
  border-bottom: 1px solid #f2f2f2;
}

.cta {
  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: $montserratFontFamily;
    font-size: 1.25rem;
    font-weight: 600;
    padding:10px 0;
    color: $black;
    &:hover {
      color: $cnBlue;
    }
  }
}

.external-site-links {
  h4 {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .external-sites {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 15px 14px 0 14px;
    width: 100%;
    background-color: #f4f4f4;
    a {
      font-size: 1rem;
      padding:0 25px;
      cursor: pointer;
      i {
        display: none;
        padding-left: 10px;
      }
      &.first {
        padding: 18px 25px 0 25px;
      }
      &.last {
        padding: 0 25px 18px 25px;
      }
      &:hover {
        i {
          display: inline-block;
        }
        text-decoration: none;
      }
    }
    hr {
      border-bottom: 1px solid #d5d5d5;
    }
  }
}

#election-container {
  max-width: 80rem;
  margin-top:25px;
  margin-bottom:25px;
  h3 {
    font-family: $robotoFontFamily;
    font-weight: 600;
    font-size: 1.5rem;
    color: $cnBlue;
    @media only screen
      and (max-width: 660px) {
        font-weight: 400 !important;
        font-size: 1.15rem !important;
    }
    a {
      color: $cnBlue !important;
      &:hover {
        color: $black !important;
      }
    }
  }
  h4, h5 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: $montserratFontFamily;
    font-weight: 700;
    font-size: 1.05rem;
    color: $cnBlue;
    text-transform: uppercase;
    a {
      color:$cnBlue !important;
      &:hover {
        color:$cnBlue !important;
      }
    }
  }
  h4:after {
      content: '';
      border-image-slice: 1;
      border-top: 1px solid;
      border-image-source: linear-gradient(to right, $cnRed 50%, $cnBlue 50%);
      margin: 0 0 0 20px;
      flex: 1 0 20px;
      width: 100%;
  }
  .slide-aside {
    @media only screen
      and (max-width: 660px) {
        order: 2;
    }
    h3 {
      font-family: $robotoFontFamily;
      font-weight: 400;
      font-size: 1.1rem;
      line-height: 1.3rem;
      color: $cnBlue;
      margin-top:15px;
      @media only screen
        and (max-width: 660px) {
          font-weight: 400 !important;
          font-size: 1.15rem !important;
      }
      a {
        color: $cnBlue !important;
        &:hover {
          color: $black !important;
        }
      }
    }
    .spacer {
      margin-bottom: 10px;
    }
  }
  .main-story {
    @media only screen
      and (max-width: 660px) {
        order: 1;
    }
  }
  .top-stories {
    h4 {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      font-family: $montserratFontFamily;
      font-weight: 700;
      color: $cnBlue;
      padding:0px;
      text-transform: uppercase;
      margin:0px;
      a {
        color:$cnBlue !important;
        &:hover {
          color:$cnBlue !important;
        }
      }
    }
    h4:after {
        content: '';
        /*border-top: 1px solid $cnBlue;*/
        border-image-slice: 1;
        border-top: 1px solid;
        border-image-source: linear-gradient(to right, $cnRed 50%, $cnBlue 50%);
        margin: 0 0 0 20px;
        flex: 1 0 20px;
        width: 100%;
    }
    ul {
      margin: 0px;
      li {
        font-size: 0.95rem;
        line-height: 1.35rem;
        padding-bottom:10px;
        padding-top:10px;
        border-bottom: 1px solid $grey;
        list-style: none;
        margin-left: 0;
        &:last-child {
          border-bottom: none;
        }
        a {
          color: $cnBlue;
          &:hover {
            color: $black;
          }
        }
      }
    }
  }
}

.videos, .spanish, .candidate-profiles, .key-dates {
  max-width: 80rem;
  margin-bottom: 10px;
  h4 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: $montserratFontFamily;
    font-weight: 700;
    color: $cnBlue;
    padding-top:15px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 25px;
    a {
      color:$cnBlue !important;
      &:hover {
        color:$cnBlue !important;
      }
    }
  }
  h4:after {
      content: '';
      /*border-top: 1px solid $cnBlue;*/
      border-image-slice: 1;
      border-top: 1px solid;
      border-image-source: linear-gradient(to right, $cnRed 50%, $cnBlue 50%);
      margin: 0 0 0 20px;
      flex: 1 0 20px;
      width: 100%;
  }
  h3 {
    font-family: $robotoFontFamily;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: $cnBlue;
    margin-top:15px;
    margin-bottom:15px;
    @media only screen
      and (max-width: 660px) {
        font-weight: 400 !important;
        font-size: 1.15rem !important;
    }
    a {
      color: $cnBlue !important;
      &:hover {
        color: $black !important;
      }
    }
  }

  .candidate-divider {
    border-right: 1px solid $grey;
  }
  .bottom-divider {
    border-bottom: 1px solid $grey;
  }
  .candidate-position {
    p {
      font-family: $robotoFontFamily;
      font-weight: bold;
      font-weight: 600;
      font-size: 0.95rem;
      text-transform: uppercase;
    }
  }

  .carousel-stories {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    .slick-prev {
      left:-25px;
      z-index: 1000;
      @media only screen
        and (max-width: 900px) {
          left:10px;
      }
    }
    .slick-next {
      @media only screen
        and (max-width: 900px) {
          right:10px;
      }
    }
    /* the slides */
    .slick-slide {
        margin: 0 12px;
        @media only screen
          and (max-width: 900px) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    /* the parent */
    .slick-list {
        margin: 0 -12px;
    }
    .slick-prev:before, .slick-next:before {
      color: $cnBlue;
    }
    &.slick-slider {
      margin-bottom: 0px;
    }
  }

}

.candidate-profiles {
  hr {
    display:block;
    width: 96%;
    border-bottom: 1px solid $grey;
  }
}

.key-dates {
  margin-bottom: 25px;
}

.latest-news {
  max-width: 80rem;
  margin-bottom: 50px;
  h4 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: $montserratFontFamily;
    font-weight: 700;
    color: $cnBlue;
    padding-top:15px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 25px;
    a {
      color:$cnBlue !important;
      &:hover {
        color:$cnBlue !important;
      }
    }
  }
  h4:after {
      content: '';
      /*border-top: 1px solid $cnBlue;*/
      border-image-slice: 1;
      border-top: 1px solid;
      border-image-source: linear-gradient(to right, $cnRed 50%, $cnBlue 50%);
      margin: 0 0 0 20px;
      flex: 1 0 20px;
      width: 100%;
  }
  h3 {
    font-family: $robotoFontFamily;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: $cnBlue;
    margin-top:15px;
    margin-bottom:25px;
    @media only screen
      and (max-width: 660px) {
        font-weight: 400 !important;
        font-size: 1.15rem !important;
    }
    a {
      color: $cnBlue !important;
      &:hover {
        color: $black !important;
      }
    }
  }
  span {
    background: $cnBlue;
    font-weight: 400;
    font-size: 0.75rem;
    color: $white;
    padding: 2px 10px;
  }
}

.story-list {
  margin-left: 0px;
  margin-top:10px;
  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    list-style-position: none;
    border-bottom: 1px solid #ececec;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    a {
      display: block;
      width: 250px;
      padding: 0px;
    }
    h2 {
      line-height: 1.5rem;
      padding:5px 10px;
      a {
        font-weight: normal;
        font-size: 1rem;
        color: $cnBlue;
        cursor: pointer;
      }
    }
    &:hover {
      background-color: #ececec;
    }
  }
}
