$montserratFontFamily: 'Montserrat', sans-serif;
$robotoFontFamily: "Roboto", sans-serif;
$georgiaFontFamily: Georgia, Times, "Times New Roman", serif;
$color: rgba(0,0,0,.08);
$color2: rgba(0,0,0,.02);
$cnBlue: #003594;
$white: #ffffff;
$black: #0a0a0a;
$grey: #D8D8D8;
$border-color: #D8D8D8;
$green: rgba(0,102,51, 1);
$footerHdr: #878792;
$borderGrey: #F2F2F2;
$transparency100: rgba(0, 53, 148, 1);
$transparency75: rgba(0, 53, 148, 0.75);
$colorSelect:#3694d7;
$timing:.3s;
$redAlert: #F31431;
$caption: #767676;
$bgColor: #fafafa;
$greyNav: #F2F2F2;
$bg-grey: rgba($greyNav, 1);

@mixin caption-text() {
  max-width: 100%;
  font-family: $robotoFontFamily;
  font-size: 0.8rem;
  font-weight: 400;
  color: #8c8c8c;
  padding-top: 10px;
  letter-spacing: 0;
  line-height: 1.55;
}

.sub_nav, .sub_nav-alert {
  display: flex;
  background-color: $bg-grey;
  align-items: center;
  justify-content: center;
  z-index: 1;
  padding: 13px 0;
  &.noticias {
    display: none;
  }
  ul {
    width:1248px;
    /*font-size: 1.1125rem;*/
    font-size: calc(12px + 0.2vw);
    font-weight: 400;
    letter-spacing: calc(0.5px + 0.01vw);
    text-transform: uppercase;
    /*padding:0 20px;*/
    justify-content: space-between;
    line-height: 1.2;
    @media only screen
      and (max-width: 1260px) {
        font-size: calc(12px + 0.08vw);
        padding:0 15px;
        width: 100%;
    }
    @media only screen
      and (max-width: 800px) {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        font-size: calc(14px + 0.4vw);
        font-weight: 500;
        letter-spacing: calc(0.5px + 0.1vw);
    }
    li {
      &.last {
        @media only screen
          and (max-width: 800px) {
            padding-bottom: 10px;
        }
      }
      &.top_links_m {
        &.first {
          padding-top:10px;
          border-top:1px solid $border-color;
        }
        display: none;
        @media only screen
          and (max-width: 800px) {
            display: block;
        }
      }
      &.misc_links_m {
        font-weight: 300;
        display: none;
        &.first {
          padding-top:10px;
          border-top:1px solid $border-color;
        }
        .navbar-form {
          display: flex;
          align-items: baseline;
          input[type="text"] {
            width:95%;
            height:30px;
            background-color: #fff;
          }
          img {
            margin: 0 10px;
          }
        }
        @media only screen
          and (max-width: 800px) {
            display: block;
        }
      }
      &.social_links_m {
        padding-top:25px;
        display: none;
        a {
          i {
            color: $black;
            padding-right: 10px;
            background: none;
            &:hover {
              color: $cnBlue !important;
            }
          }
        }
        @media only screen
          and (max-width: 800px) {
            display: block;
        }
      }
      &.copyright_m {
        font-size: 9px;
        font-weight:100;
        display: none;
        @media only screen
          and (max-width: 800px) {
            display: block;
        }
      }
      @media only screen
        and (max-width: 800px) {
          width: 100%;
          padding:3px 0;
      }
    }
    a {
      font-family: $robotoFontFamily;
      color: $cnBlue;
      &:hover {
        color: $black;
      }
    }
  }
  @media only screen
    and (max-width: 800px) {
      display: none;
  }
}

#noticias-container {
  padding-top:25px;

  .border-test {
    border: 1px solid #ff0000;
  }

  &.grid-container {
    /*&.main-stories, &.featured-stories, &.vertical-stories, &.latest-stories, &.vertical-stories {
      max-width: 78rem;
      border-top:1px solid $grey;
    }*/
    max-width: 78rem;

    .left-column, .right-column {
      h4 {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        font-family: $montserratFontFamily;
        font-weight: 700;
        font-size: 1.05rem;
        color: $cnBlue;
        text-transform: uppercase;
        a {
          color:$cnBlue !important;
          &:hover {
            color:$cnBlue !important;
          }
        }
      }
      h4:after {
          content: '';
          border-top: 1px solid $cnBlue;
          margin: 0 0 0 20px;
          flex: 1 0 20px;
          width: 100%;
      }

      .left-column {
        .embed-container {
          margin-top:25px;
        }
      }

      .grid-padding-x > .cell {
        padding-left: 0px !important;
      }
      .top-stories {
        li {
          font-size: 0.95rem;
          line-height: 1.35rem;
          padding-bottom:10px;
          padding-top:10px;
          border-bottom: 1px solid $grey;
          &:last-child {
            border-bottom: none;
          }
          a {
            color: $black;
            &:hover {
              color: $cnBlue;
            }
          }
        }
      }
    }
  }

  .grid-padding-x > .cell {
    &.remove-padding {
      padding: 0;
    }
    @media only screen
      and (max-width: 1240px) {
        padding-left: 1.875rem;
        padding-right: 1.875rem;
    }
    @media only screen
      and (max-width: 660px) {
        padding-right: 0.625rem;
        padding-left: 0.625rem;
    }
  }

  .banner {
    position: absolute;
    font-family: $montserratFontFamily;
    font-weight: bold;
    background-color: rgba(0,102,51, 1);
    color: $white;
    padding:4px 10px;
  }

  .story {
    p {
      font-size: 0.95rem;
    }
    h2 {
      font-family: $robotoFontFamily;
      font-weight: 700;
      font-size: 1.65rem;
      padding-top:15px;
      a {
        color: $black;
        &:hover {
          color: $cnBlue;
        }
      }
    }
    h3 {
      font-family: $robotoFontFamily;
      font-weight: 500;
      font-size: 1rem;
      padding-top:15px;
      text-transform: none;
      a {
        color: $black;
        &:hover {
          color: $cnBlue;
        }
      }
    }
    h4 {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      font-family: $montserratFontFamily;
      font-weight: 700;
      font-size: 1rem;
      color: $cnBlue;
      padding-top:15px;
      text-transform: uppercase;
      /*margin-top: 25px;*/
      margin-bottom: 25px;
      @media only screen
        and (max-width: 660px) {
          margin-top:0px;
      }
      a {
        color:$cnBlue !important;
        &:hover {
          color:$cnBlue !important;
        }
      }
    }
    h4:after {
      content: '';
      border-top: 1px solid $cnBlue;
      margin: 0 0 0 20px;
      flex: 1 0 20px;
      width: 100%;
    }
    &.slide-aside {
      .story:nth-child(2) {
        margin-top:25px;
        @media only screen
          and (max-width: 900px) {
            margin-top:0px;
        }
      }
      .story {
        margin-bottom:25px;
      }
      @media only screen
        and (max-width: 900px) {
          padding-top:25px;
          padding-bottom:25px;
      }
      @media only screen
        and (max-width: 660px) {
          padding-bottom:0;
      }
    }
  }

  .audio-block {
    h4 {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      font-family: $montserratFontFamily;
      font-weight: 700;
      font-size: 1.05rem;
      color: rgba(0,102,51, 1) !important;
      padding-top:15px;
      text-transform: uppercase;
      margin-top: 0px;
      margin-bottom: 12px;
      a {
        color:$cnBlue !important;
        &:hover {
          color:$cnBlue !important;
        }
      }
    }
    h4:after {
        content: '';
        border-top: 1px solid $cnBlue;
        margin: 0 0 0 20px;
        flex: 1 0 20px;
        width: 100%;
    }
  }

  .photo-gallery {
    img {
      width: 100%;
    }
    .slick-prev, .slick-next {
      right: 20px;
      color: $white;
      z-index: 99999;
    }
    .slick-prev:before, .slick-next:before {
      color: $white;
    }
    .slick-slider {
      margin-bottom: 0px;
    }
    .asset-caption {
      p {
        @include caption-text;
        a {
          color: $cnBlue;
          &:hover {
            color: $black;
          }
        }
      }
    }
  }

  .custom-section, .noticias-report {
    h3 {
      font-family: $robotoFontFamily;
      font-weight: 500;
      font-size: 1rem;
      color: $cnBlue;
      padding-top:15px;
      text-transform: none;
      @media only screen
        and (max-width: 660px) {
          font-size: 1.35rem;
          margin-bottom: 25px;
      }
      a {
        color: $black;
        &:hover {
          color: $cnBlue;
        }
      }
    }
  }

  .noticias-report {
    margin-bottom:40px;
    margin-top:40px;
    h3 {
      padding-top:0px;
    }
  }

  .twitter-embed {
    #twitter-widget-0 {
      .timeline-Widget .timeline-Header {
        border: 1px solid #ff0000 !important;
      }
    }
    @media only screen
      and (max-width: 660px) {
        text-align: center !important;
    }
  }

  .social-accounts {
    i {
      color: $cnBlue;
      font-size: 3.5rem;
      padding-right: 18px;
      &:hover {
        color: $black;
      }
    }
    @media only screen
      and (max-width: 660px) {
        text-align: center !important;
    }
  }

  .latest-news {
    margin-bottom: 50px;
    h4 {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      font-family: $montserratFontFamily;
      font-weight: 700;
      font-size: 1.05rem;
      color: rgba(0,102,51, 1) !important;
      padding-top:15px;
      text-transform: uppercase;
      margin-top: 0px;
      margin-bottom: 25px;
      a {
        color:$cnBlue !important;
        &:hover {
          color:$cnBlue !important;
        }
      }
    }
    h4:after {
        content: '';
        border-top: 1px solid $cnBlue;
        margin: 0 0 0 20px;
        flex: 1 0 20px;
        width: 100%;
    }

    h3 {
      font-family: $robotoFontFamily;
      font-weight: 700;
      font-size: 1.25rem;
      padding-top:15px;
      text-transform: none;
      a {
        color: $black;
        &:hover {
          color: $cnBlue;
        }
      }
    }
  }
}

.page-header {
  background: -webkit-linear-gradient(110deg, #003594 60%, #1852a4 60%);
  background: -o-linear-gradient(110deg, #003594 60%, #1852a4 60%);
  background: -moz-linear-gradient(110deg, #003594 60%, #1852a4 60%);
  background: linear-gradient(110deg, #003594 60%, #1852a4 60%);
  margin: 0px;
  padding: 20px 0;
  .grid-container {
    max-width: 80rem !important;
  }
  h1 {
    font-family: $montserratFontFamily;
    font-weight: 700;
    font-size: 2.25rem;
    color: $white;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  i {
    color:#1852a4;
    padding-left:20px;
  }
}
