$montserratFontFamily: 'Montserrat', sans-serif;
$robotoFontFamily: "Roboto", sans-serif;
$georgiaFontFamily: Georgia, Times, "Times New Roman", serif;
$color: rgba(0,0,0,.08);
$color2: rgba(0,0,0,.02);
$cnBlue: #003594;
$white: #ffffff;
$black: #0a0a0a;
$grey: #D8D8D8;
$green: rgba(0,102,51, 1);
$footerHdr: #878792;
$borderGrey: #F2F2F2;
$transparency100: rgba(0, 53, 148, 1);
$transparency75: rgba(0, 53, 148, 0.75);
$colorSelect:#3694d7;
$timing:.3s;
$redAlert: #F31431;
$caption: #767676;
$bgColor: #fafafa;

@mixin caption-text() {
  max-width: 100%;
  font-family: $robotoFontFamily;
  font-size: 0.8rem;
  font-weight: 400;
  color: #8c8c8c;
  padding-top: 10px;
  letter-spacing: 0;
  line-height: 1.55;
}

.cta {
  .logo {
    img {
      width: 140px;
    }
  }
  &.noticias-preview {
    p {
      padding-left: 0px !important;
    }
  }
}

#olympics-countdown {
  display: flex;
  flex-direction: row;
  width: 97%;
  padding: 15px 35px;
  margin-bottom: 25px;
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    padding: 15px 25px;
  }
  .countdown {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      font-family: $montserratFontFamily;
      margin-left: 15px;
      margin-right: 15px;
      &.description {
        align-items: center;
        justify-content: center;
        p {
          color: #fff;
          font-style: normal;
          font-weight: 700;
          font-size: 15px;
          margin: 0;
          padding: 0;
        }
      }
      span {
        display: flex;
        flex-direction: column;
        color: #fff;
        font-weight: 600;
        text-align: center;
        font-size: 50px;
      }
      div {
        display: flex;
        flex-direction: column;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
      }
    }
  }
}

.featured-block {
  margin-top:10px;
  margin-bottom: 25px;
  border-bottom: 1px solid $cnBlue;
  &:last-child {
    border-bottom: none;
  }
  &.cell {
    &:hover {
      background-color: rgba(228, 228, 228, 1);
    }
  }
  h3 {
    font-family: $robotoFontFamily;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.55rem;
    color: $cnBlue;
    margin:0 0 10px 0;
    padding: 0;
    @media only screen
      and (max-width: 800px) {
        font-size: 1rem;
        line-height: 1.5rem;
        margin-bottom: 25px;
    }
    a {
      color: $cnBlue;
    }
  }
  p {
    font-size: 0.9rem !important;
  }
}
