$montserratFontFamily: 'Montserrat', sans-serif;
$robotoFontFamily: "Roboto", sans-serif;
$georgiaFontFamily: Georgia, Times, "Times New Roman", serif;
$color: rgba(0,0,0,.08);
$color2: rgba(0,0,0,.02);
$cnBlue: #003594;
$white: #ffffff;
$black: #0a0a0a;
$grey: #D8D8D8;
$green: rgba(0,102,51, 1);
$footerHdr: #878792;
$borderGrey: #F2F2F2;
$transparency100: rgba(0, 53, 148, 1);
$transparency75: rgba(0, 53, 148, 0.75);
$colorSelect:#3694d7;
$timing:.3s;
$redAlert: #F31431;
$caption: #767676;
$bgColor: #fafafa;

@mixin caption-text() {
  max-width: 100%;
  font-family: $robotoFontFamily;
  font-size: 0.8rem;
  font-weight: 400;
  color: #8c8c8c;
  padding-top: 10px;
  letter-spacing: 0;
  line-height: 1.55;
}

#ncaa-countdown {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 15px 35px;
  background: rgba(2, 118, 60, 0.8);
  box-shadow: 0px 5px 16px -5px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 5px 16px -5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 5px 16px -5px rgba(0,0,0,0.3);

  .countdown {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    div {
      display: flex;
      flex-direction: column;
      font-family: $montserratFontFamily;
      span {
        display: flex;
        flex-direction: column;
        color: #fff;
        font-weight: 600;
        text-align: center;
        font-size: 60px;
      }
      div {
        display: flex;
        flex-direction: column;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        font-size: 18px;
      }
    }
  }
}

#sports-container {
  padding-top:25px;

  .border-test {
    border: 1px solid #ff0000;
  }

  &.grid-container {
    max-width: 78rem;
    .left-column, .right-column {
      h4 {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        font-family: $montserratFontFamily;
        font-weight: 700;
        font-size: 1.05rem;
        color:  rgba(0,102,51, 1);
        text-transform: uppercase;
        a {
          color:$cnBlue !important;
          &:hover {
            color:$cnBlue !important;
          }
        }
      }
      h4:after {
          content: '';
          border-top: 1px solid rgba(0,102,51, 1);
          margin: 0 0 0 20px;
          flex: 1 0 20px;
          width: 100%;
      }

      .left-column {
        .embed-container {
          margin-top:25px;
        }
      }

      .grid-padding-x > .cell {
        padding-left: 0px !important;
      }
      .top-stories {
        li {
          font-size: 0.95rem;
          line-height: 1.35rem;
          padding-bottom:10px;
          padding-top:10px;
          border-bottom: 1px solid $grey;
          &:last-child {
            border-bottom: none;
          }
          a {
            color: $black;
            &:hover {
              color: $green;
            }
          }
        }
      }
    }
  }

  .grid-padding-x > .cell {
    &.remove-padding {
      padding: 0;
    }
    @media only screen
      and (max-width: 1240px) {
        padding-left: 1.875rem;
        padding-right: 1.875rem;
    }
    @media only screen
      and (max-width: 660px) {
        padding-right: 0.625rem;
        padding-left: 0.625rem;
    }
  }

  .banner {
    position: absolute;
    font-family: $montserratFontFamily;
    font-weight: bold;
    background-color: rgba(0,102,51, 1);
    color: $white;
    padding:4px 10px;
  }

  .story {
    p {
      font-size: 0.95rem;
    }
    h2 {
      font-family: $robotoFontFamily;
      font-weight: 700;
      font-size: 1.65rem;
      padding-top:15px;
      a {
        color: $black;
        &:hover {
          color: $green;
        }
      }
    }
    h3 {
      font-family: $robotoFontFamily;
      font-weight: 500;
      font-size: 1rem;
      padding-top:15px;
      text-transform: none;
      a {
        color: $black;
        &:hover {
          color: $green;
        }
      }
      @media only screen
        and (max-width: 660px) {
          font-size: 1.35rem;
      }
    }
    h4 {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      font-family: $montserratFontFamily;
      font-weight: 700;
      font-size: 1rem;
      color: $green;
      padding-top:15px;
      text-transform: uppercase;
      margin-top: 25px;
      margin-bottom: 25px;
      @media only screen
        and (max-width: 660px) {
          margin-top:0px;
      }
      a {
        color:$cnBlue !important;
        &:hover {
          color:$cnBlue !important;
        }
      }
    }
    h4:after {
      content: '';
      border-top: 1px solid rgba(0,102,51, 1);
      margin: 0 0 0 20px;
      flex: 1 0 20px;
      width: 100%;
    }
    &.slide-aside {
      .story:nth-child(2) {
        margin-top:25px;
        @media only screen
          and (max-width: 900px) {
            margin-top:0px;
        }
      }
      .story {
        margin-bottom:25px;
      }
      @media only screen
        and (max-width: 900px) {
          padding-top:25px;
          padding-bottom:25px;
      }
      @media only screen
        and (max-width: 660px) {
          padding-bottom:0;
      }
    }
  }

  .audio-block {
    h4 {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      font-family: $montserratFontFamily;
      font-weight: 700;
      font-size: 1.05rem;
      color: rgba(0,102,51, 1) !important;
      padding-top:15px;
      text-transform: uppercase;
      margin-top: 0px;
      margin-bottom: 12px;
      a {
        color:$cnBlue !important;
        &:hover {
          color:$cnBlue !important;
        }
      }
    }
    h4:after {
        content: '';
        border-top: 1px solid rgba(0,102,51, 1);
        margin: 0 0 0 20px;
        flex: 1 0 20px;
        width: 100%;
    }
  }

  .photo-gallery {
    img {
      width: 100%;
    }
    .slick-prev, .slick-next {
      right: 20px;
      color: $white;
      z-index: 99999;
    }
    .slick-prev:before, .slick-next:before {
      color: $white;
    }
    .slick-slider {
      margin-bottom: 0px;
    }
    .asset-caption {
      p {
        @include caption-text;
        a {
          color: $green;
          &:hover {
            color: $black;
          }
        }
      }
    }
  }

  .custom-section, .sports-report {
    h3 {
      font-family: $robotoFontFamily;
      font-weight: 500;
      font-size: 1rem;
      color: $green;
      padding-top:15px;
      text-transform: none;
      @media only screen
        and (max-width: 660px) {
          font-size: 1.35rem;
          margin-bottom: 25px;
      }
      a {
        color: $black;
        &:hover {
          color: $green;
        }
      }
    }
  }

  .custom-section, .twitter-embed {
    .story {
      h4 {
        margin-top:0px;
      }
    }
  }

  .sports-report {
    h3 {
      padding-top:8px;
    }
  }

  .twitter-embed {
    #twitter-widget-0 {
      .timeline-Widget .timeline-Header {
        border: 1px solid #ff0000 !important;
      }
    }
    @media only screen
      and (max-width: 660px) {
        text-align: center !important;
    }
  }

  .latest-news {
    margin-bottom: 50px;
    h4 {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      font-family: $montserratFontFamily;
      font-weight: 700;
      font-size: 1.05rem;
      color: rgba(0,102,51, 1) !important;
      padding-top:15px;
      text-transform: uppercase;
      margin-top: 0px;
      margin-bottom: 25px;
      a {
        color:$cnBlue !important;
        &:hover {
          color:$cnBlue !important;
        }
      }
    }
    h4:after {
        content: '';
        border-top: 1px solid rgba(0,102,51, 1);
        margin: 0 0 0 20px;
        flex: 1 0 20px;
        width: 100%;
    }
    h3 {
      font-family: $robotoFontFamily;
      font-weight: 700;
      font-size: 1.25rem;
      padding-top:15px;
      text-transform: none;
      padding:0;
      a {
        color: $black;
        &:hover {
          color: $green;
        }
      }
    }
  }
}

.page-header {
  background: -webkit-linear-gradient(110deg, #006633 60%, #02763c 60%);
  background: -o-linear-gradient(110deg, #006633 60%, #02763c 60%);
  background: -moz-linear-gradient(110deg, #006633 60%, #02763c 60%);
  background: linear-gradient(110deg, #006633 60%, #02763c 60%);
  margin: 0px;
  padding: 20px 0;
  .grid-container {
    max-width: 80rem !important;
  }
  h1 {
    font-family: $montserratFontFamily;
    font-weight: 700;
    font-size: 2.25rem;
    color: $white;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  i {
    color:#1852a4;
    padding-left:20px;
  }
}
