.merriweather {
  font-family: "Merriweather", serif; }

.montserrat {
  font-family: "Montserrat", sans-serif; }

.roboto {
  font-family: "Roboto", sans-serif; }

.taviraj {
  font-family: "Taviraj", serif; }

@keyframes fade-in-up {
  0% {
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
#intro-head-photo-overlay .grid-padding-x > .cell.photo-style-e2e {
  position: relative; }

#intro-head-photo-overlay .intro-text {
  background-image: linear-gradient(to bottom, transparent, #000); }
  @media only screen and (max-width: 660px) {
    #intro-head-photo-overlay .intro-text {
      background-image: none; } }

#intro-head-photo-overlay .intro-text.absolute {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0; }

#intro-head-photo-overlay .intro-text p {
  max-width: 660px;
  width: 100%;
  color: #ffffff;
  font-size: 1rem;
  line-height: 2rem; }

#intro-head-photo-overlay .intro-text h1 {
  font-family: neuzeit-grotesk, sans-serif;
  max-width: 800px;
  width: 100%;
  font-weight: 600;
  font-size: 2.5rem !important;
  line-height: 3.125rem;
  margin-top: 16px;
  margin-bottom: 0px;
  padding: 4rem 0 1rem 0;
  color: #ffffff; }
  @media only screen and (max-width: 660px) {
    #intro-head-photo-overlay .intro-text h1 {
      color: #000;
      font-size: 1.9rem !important;
      line-height: 2.75rem;
      padding: 0rem;
      margin: 0; } }

#intro-head-photo-overlay .photo-credit {
  text-align: center; }
  @media only screen and (max-width: 660px) {
    #intro-head-photo-overlay .photo-credit {
      text-align: left; } }

@media only screen and (max-width: 660px) {
  .text-content .wp-caption.alignright {
    max-width: 100% !important; }
    .text-content .wp-caption.alignright img {
      max-width: 100% !important; } }

.alignright {
  float: right;
  max-width: 600px !important;
  margin-top: 10px;
  margin-right: -200px;
  padding-left: 25px;
  padding-bottom: 15px; }
  @media only screen and (max-width: 660px) {
    .alignright {
      max-width: 100%;
      margin-top: 0; } }
  .alignright img {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    max-width: 600px !important; }
    @media only screen and (max-width: 660px) {
      .alignright img {
        float: none;
        max-width: 100%; } }
  .alignright a {
    color: #757575;
    border-bottom: 1px solid #757575;
    -webkit-transition: border 0.25s;
    -moz-transition: border 0.25s;
    -o-transition: border 0.25s;
    transition: border 0.25s; }
    .alignright a:hover {
      border: none; }
  .alignright.rect iframe {
    width: 400px;
    height: 225px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); }
  .alignright.square iframe {
    width: 400px;
    height: 400px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); }
  .alignright .wp-caption-text {
    max-width: 100%; }
  @media only screen and (max-width: 1080px) {
    .alignright {
      margin-right: -10%; } }
  @media only screen and (max-width: 900px) {
    .alignright {
      margin-right: -8%; } }
  @media only screen and (max-width: 860px) {
    .alignright {
      float: none;
      margin-right: 0;
      margin: 40px auto;
      padding: 0; } }

.first-scroll-section .text-center {
  position: relative; }
  .first-scroll-section .text-center .pinned-overlay-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.8); }

.text-content h2 {
  font-family: neuzeit-grotesk, sans-serif;
  font-size: 2rem;
  font-weight: 900;
  line-height: 3rem;
  color: #000; }

.grid-container.photo-content {
  margin-top: 15px; }

.related-story-box-right .story {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); }

/*# sourceMappingURL=sage-memorial.css.map */
