$tavirajFontFamily: 'Taviraj', serif;
$merriweatherFontFamily: 'Merriweather', serif;
$montserratFontFamily: 'Montserrat', sans-serif;
$merriweatherSanFontFamily: 'Merriweather Sans', sans-serif;
$robotoFontFamily: 'Roboto', sans-serif;
$vollkornFontFamily: 'Vollkorn', serif;
$ebGaramondFontFamily: 'EB Garamond', serif;
$baskervilleFontFamily: 'Libre Baskerville', serif;
$secularOneFontFamily: 'Secular One', sans-serif;
$newsCycleFontFamily: 'News Cycle', sans-serif;
$oswaldFontFamily: 'Oswald', sans-serif;

$color: rgba(0,0,0,.08);
$color2: rgba(0,0,0,.02);
$cnBlue: #003594;
$white: #ffffff;
$black: #000;
$grey: #D8D8D8;
$footerHdr: #878792;
$borderGrey: #F2F2F2;
$transparency100: rgba(0, 53, 148, 1);
$transparency75: rgba(0, 53, 148, 0.75);
$colorSelect:#3694d7;
$timing:.3s;
$redAlert: #F31431;
$caption: #6e6e6e;

.merriweather {
  font-family: $merriweatherFontFamily;
}

.montserrat {
  font-family: $montserratFontFamily;
}

.roboto {
  font-family: $robotoFontFamily;
}

.taviraj {
  font-family: $tavirajFontFamily;
}

@mixin single-story-category-hdr {
  max-width: 1160px;
  font-weight: 600;
  font-size: calc(16.4px + 1.55vw);
  margin-top:18px;
  @media only screen
    and (max-width: 660px) {
      font-size: calc(16.4px + 2.5vw);
  }
}

@mixin attr-transition1 ($attr) {
  -webkit-transition: $attr 0.25s;
  -moz-transition: $attr 0.25s;
  -o-transition: $attr 0.25s;
  transition: $attr 0.25s;
}

@keyframes fade-in-up {
  0% { opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@mixin caption-text() {
  max-width: 800px;
  font-family: $montserratFontFamily;
  font-size: 0.85rem;
  font-weight: 400;
  color: $caption;
  padding-top: 10px;
  letter-spacing: 0;
  line-height: 1.2rem;
}

@mixin sidebar-header() {
  font-family: $montserratFontFamily;
  font-size: calc(12.4px + 0.3vw);
  font-weight: 600;
  color: $black;
  border-left: 4px solid $cnBlue;
  padding-left:15px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
#intro-head-photo-overlay .grid-padding-x > .cell.photo-style-e2e {
  position: relative;
}

#intro-head-photo-overlay .intro-text {
  background-image: linear-gradient(to bottom, transparent, #000);
  @media only screen
    and (max-width: 660px) {
      background-image: none;
    }
}

#intro-head-photo-overlay .intro-text.absolute {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

#intro-head-photo-overlay .intro-text p {
  max-width: 660px;
  width: 100%;
  color: #ffffff;
  font-size: 1rem;
  line-height: 2rem;
}

#intro-head-photo-overlay .intro-text h1 {
  font-family: neuzeit-grotesk, sans-serif;
  max-width: 800px;
  width: 100%;
  font-weight: 600;
  font-size: 2.5rem !important;
  line-height: 3.125rem;
  margin-top: 16px;
  margin-bottom: 0px;
  padding: 4rem 0 1rem 0;
  color: #ffffff;
  @media only screen
    and (max-width: 660px) {
      color: $black;
      font-size: 1.9rem !important;
      line-height: 2.75rem;
      padding: 0rem;
      margin:0;
    }
}

#intro-head-photo-overlay .photo-credit {
  text-align: center;
  @media only screen
    and (max-width: 660px) {
      text-align: left;
    }
}

.text-content {
  @media only screen
    and (max-width: 660px) {
      .wp-caption {
        &.alignright {
          max-width: 100% !important;
          img {
            max-width: 100% !important;
          }
        }
      }
  }
}

.alignright {
  float: right;
  max-width:600px !important;
  margin-top:10px;
  margin-right: -200px;
  padding-left: 25px;
  padding-bottom:15px;
  @media only screen
    and (max-width: 660px) {
      max-width: 100%;
      margin-top:0;
  }
  img {
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    max-width: 600px !important;
    @media only screen
      and (max-width: 660px) {
        float:none;
        max-width: 100%;
    }
  }
  a {
    color: #757575;
    border-bottom: 1px solid #757575;
    @include attr-transition1(border);
    &:hover {
      border:none;
    }
  }
  &.rect {
    iframe {
      width:400px;
      height: 225px;
      box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    }
  }
  &.square {
    iframe {
      width:400px;
      height: 400px;
      box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    }
  }
  .wp-caption-text {
    max-width: 100%;
  }
  @media only screen
    and (max-width: 1080px) {
      margin-right: -10%;
  }
  @media only screen
    and (max-width: 900px) {
      margin-right: -8%;
  }
  @media only screen
    and (max-width: 860px) {
      float:none;
      margin-right:0;
      margin:40px auto;
      padding: 0;
  }
}

.first-scroll-section {
  .text-center {
    position: relative;
    .pinned-overlay-text {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 500px;
      z-index: 10000;
      border: 1px solid #ff0000;
    }
  }
}

.text-content h2 {
  font-family:neuzeit-grotesk, sans-serif;
  font-size: 2rem;
  font-weight: 900;
  line-height: 3rem;
  color: $black;
}

.grid-container.photo-content {
  margin-top:15px;
}

.related-story-box-right .story {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
