$tavirajFontFamily: 'Taviraj', serif;
$merriweatherFontFamily: 'Merriweather', serif;
$montserratFontFamily: 'Montserrat', sans-serif;
$merriweatherSanFontFamily: 'Merriweather Sans', sans-serif;
$robotoFontFamily: 'Roboto', sans-serif;
$vollkornFontFamily: 'Vollkorn', serif;
$ebGaramondFontFamily: 'EB Garamond', serif;
$baskervilleFontFamily: 'Libre Baskerville', serif;
$secularOneFontFamily: 'Secular One', sans-serif;
$newsCycleFontFamily: 'News Cycle', sans-serif;
$oswaldFontFamily: 'Oswald', sans-serif;
$loraFontFamily: 'Lora', serif;
$leagueGothicFontFamily: 'League Gothic', sans-serif;

$color: rgba(0,0,0,.08);
$color2: rgba(0,0,0,.02);
$cnBlue: #003594;
$white: #ffffff;
$black: #000;
$grey: #D8D8D8;
$footerHdr: #878792;
$borderGrey: #F2F2F2;
$transparency100: rgba(0, 53, 148, 1);
$transparency75: rgba(0, 53, 148, 0.75);
$colorSelect:#3694d7;
$timing:.3s;
$redAlert: #F31431;
$caption: #6e6e6e;

.merriweather {
  font-family: $merriweatherFontFamily;
}

.montserrat {
  font-family: $montserratFontFamily;
}

.roboto {
  font-family: $robotoFontFamily;
}

.taviraj {
  font-family: $tavirajFontFamily;
}

@mixin single-story-category-hdr {
  max-width: 1160px;
  font-weight: 600;
  font-size: calc(16.4px + 1.55vw);
  margin-top:18px;
  @media only screen
    and (max-width: 660px) {
      font-size: calc(16.4px + 2.5vw);
  }
}

@mixin attr-transition1 ($attr) {
  -webkit-transition: $attr 0.25s;
  -moz-transition: $attr 0.25s;
  -o-transition: $attr 0.25s;
  transition: $attr 0.25s;
}

@keyframes fade-in-up {
  0% { opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@mixin caption-text() {
  max-width: 800px;
  font-family: $montserratFontFamily;
  font-size: 0.85rem;
  font-weight: 400;
  color: $caption;
  padding-top: 10px;
  letter-spacing: 0;
  line-height: 1.2rem;
}

@mixin sidebar-header() {
  font-family: $montserratFontFamily;
  font-size: calc(12.4px + 0.3vw);
  font-weight: 600;
  color: $black;
  border-left: 4px solid $cnBlue;
  padding-left:15px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

#fullscreen-video {
  .intro-text {
    justify-content: flex-start;
    h1 {
      font-family: $oswaldFontFamily;
      font-size: 3.5rem;
      font-weight: 400;
      line-height: 5rem;
      padding-top: 5%;

      @media only screen
        and (max-width: 660px) {
          font-size: 2rem;
          line-height: 2.5rem;
      }
    }
  }
}

#intro-photo-gallery-overlay {
  .intro-text {
    background: none !important;
    h1 {
      font-family: $leagueGothicFontFamily;
      letter-spacing: 1px;
      line-height: 3rem;
      font-size: 2.25rem;
      margin: 0;
    }
  }

  .main-photo {
    text-align: center;
    display: flex;
    justify-content: center;
    .intro-text {
      justify-content: flex-start;
      background: none !important;
      opacity: 1;
      max-width: 800px;
      &.absolute {
        left: auto;
        margin-top: 40px !important;
      }
      h1 {
        &.absolute-text {
          font-family: $leagueGothicFontFamily;
          letter-spacing: 0.75px;
          line-height: 4rem;
          font-size: 3rem;
        }
      }
      p {
        font-family: $loraFontFamily;
        max-width: 880px;
        color: $white;
        font-weight: 500;
        font-size: 1.15rem;
      }
    }
  }
}
